{% extends "homebase.html" %}
 {% load static %}

{% block title %} {{ car.title }} {% endblock %}
{% block keywords %} {{ car.keywords }} {% endblock %}
{% block description %} {{ car.description }} {% endblock %}

{% block head %} <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />


    <style>
        .star{
          color: goldenrod;
          font-size: 2.0rem;
          padding: 0 1rem; /* space out the stars */
        }
        .star::before{
          content: '\2606';    /* star outline */
          cursor: pointer;
        }
        .star.rated::before{
          /* the style for a selected star */
          content: '\2605';  /* filled star */
        }

        .stars{
            counter-reset: rateme 0;
            font-size: 2.0rem;
            font-weight: 900;
        }
        .star.rated{
            counter-increment: rateme 1;
        }
        .stars::after{
            content: counter(rateme) '/5';
        }
    </style>





{% endblock %}


{% block content %}

<!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area"  style="background-image: url({% static 'img/1.jpg'%});">
            <div class="container">
                <div class="breadcrumb-content" >
                    <h2>{{car.title}}</h2>
                    <ul>
                        <li><a href="/category/{{ car.category_id }}/{{ car.category.slug }}">{{ car.category }}</a></li>
                        <li class="active">{{car.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

        <!-- Begin Uren's Single Product Area -->
        <div class="sp-area">
            <div class="container-fluid">
                <div class="sp-nav">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="sp-img_area">
                                <div class="sp-img_slider slick-img-slider uren-slick-slider" data-slick-options='{
                                "slidesToShow": 1,
                                "arrows": false,
                                "fade": true,
                                "draggable": false,
                                "swipe": false,
                                "asNavFor": ".sp-img_slider-nav"
                                }'>
                                    <div class="single-slide red zoom">
                                        <img src="{{car.image.url}}" alt="Uren's Product Image">
                                    </div>

                                    {% for rs in images %}

                                    <div class="single-slide orange zoom">
                                        <img src="{{rs.image.url}}" alt="Uren's Product Image">
                                    </div>

                                    {% endfor %}


                                </div>
                                <div class="sp-img_slider-nav slick-slider-nav uren-slick-slider slider-navigation_style-3" data-slick-options='{
                                "slidesToShow": 3,
                                "asNavFor": ".sp-img_slider",
                                "focusOnSelect": true,
                                "arrows" : true,
                                "spaceBetween": 30
                                }' data-slick-responsive='[
                                        {"breakpoint":1501, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":992, "settings": {"slidesToShow": 4}},
                                        {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":575, "settings": {"slidesToShow": 2}}
                                    ]'>
                                    <div class="single-slide red zoom">
                                        <img src="{{car.image.url}}" alt="Uren's Product Image">
                                    </div>
                                    


                                    {% for rs in images %}

                                    <div class="single-slide orange">
                                        <img src="{{rs.image.url}}" alt="Uren's Product Thumnail">
                                    </div>

                                     {% endfor %}


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="sp-content">
                                <div class="sp-heading">
                                    <h5><a href="#">{{car.title}}</a></h5>
                                </div>
                                <span class="reference">{{car.description}}</span>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                    </ul>
                                </div>
                                <div class="sp-essential_stuff">
                                    <ul>
                                        <li>DURUM <a >KİRALANABİLİR</a></li>
                                        <li>VİTES TİPİ: <a >Otomatik Vites</a></li>
                                        <li>YAKIT TİPİ : <a >Benzin</a></li>
                                        <li>KAPASİTE: <a >Maximum 5 Kişi</a></li>
                                        <li>FİYAT :  <a ><span>${{car.price}}/GÜN</span></a></li>
                                        <li>Kalan Adet : <a >{{ car.amount }}</a></li>
                                    </ul>
                                </div>


                                <div class="qty-btn_area">
                                    <ul>
                                        <li><a class="qty-cart_btn" href="cart.html">SEPETE EKLE</a></li>
                                    </ul>
                                </div>
                                <div class="uren-tag-line">
                                    <h6>Tags:</h6>
                                    <a >{{car.keywords}}</a>
                                </div>
                                <div class="uren-social_link">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Single Product Area End Here -->

        <!-- Begin Uren's Single Product Tab Area -->
        <div class="sp-product-tab_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sp-product-tab_nav">
                            <div class="product-tab">
                                <ul class="nav product-menu">
                                    <li><a class="active" data-toggle="tab" href="#description"><span>AÇIKLAMA</span></a>
                                    </li>

                                    <li><a data-toggle="tab" href="#reviews"><span>YORUMLAR</span></a></li>
                                </ul>
                            </div>
                            <div class="tab-content uren-tab_content">
                                <div id="description" class="tab-pane active show" role="tabpanel">
                                    <div class="product-description">
                                        <ul>
                                            <li>
                                                <strong>{{car.title}}</strong>
                                                <span>{{ car.detail | safe }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="specification" class="tab-pane" role="tabpanel">
                                    <table class="table table-bordered specification-inner_stuff">
                                        <tbody>
                                            <tr>
                                                <td colspan="2"><strong>Memory</strong></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>test 1</td>
                                                <td>8gb</td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td colspan="2"><strong>Processor</strong></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>No. of Cores</td>
                                                <td>1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="reviews" class="tab-pane" role="tabpanel">
                                    <div class="tab-pane active" id="tab-review">
                                        <form class="form-horizontal" id="form-review" action="/product/addcomment/{{ car.id }}" method="post">
                                            {% csrf_token %}



                                            {% for rs in comments %}

                                            <div id="review">


                                                <table class="table table-striped table-bordered">

                                                    <tbody>

                                                        <tr>
                                                            <td style="width: 50%;"><strong>{{rs.user.first_name}}</strong></td>
                                                            <td class="text-right">{{rs.create_at}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <h4>{{ rs.subject }}</h4>
                                                                <p>{{rs.comment}}</p>
                                                                <div class="rating-box">
                                                                    <ul>

                                                                        <li><i {% if rs.rate >= 1 %} class="ion-android-star" {% endif %}></i></li>
                                                                        <li><i {% if rs.rate >= 2 %} class="ion-android-star" {% endif %}></i></li>
                                                                        <li><i {% if rs.rate >= 3 %} class="ion-android-star" {% endif %}></i></li>
                                                                        <li><i {% if rs.rate >= 4 %} class="ion-android-star" {% endif %}></i></li>
                                                                        <li><i {% if rs.rate == 5 %}  class="ion-android-star"{% endif %}></i></li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>

                                            </div>

                                            {% endfor %}

                                            <h2>Write a review</h2>
                                                      {% if messages %}
                                       {% for message in messages %}
                                           <div class="alert alert-{{ message.tags }}" role="alert"> {{ message }} </div>
                                       {% endfor %}
                                    {% endif %}
                                            <div class="form-group required">
                                                <div class="col-sm-12 p-0">
                                                    <label>Subject <span class="required">*</span></label>
                                                    <input class="review-input" type="text" name="subject" id="id_subject" required>
                                                </div>
                                            </div>
                                            <div class="form-group required second-child">
                                                <div class="col-sm-12 p-0">
                                                    <label class="control-label">Yorumunuz</label>
                                                    <textarea class="review-textarea" name="comment" id="id_comment"></textarea>

                                                </div>
                                            </div>
                                            <div class="form-group last-child required">
                                               <!-- alternate codepen version https://codepen.io/mad-d/pen/aJMPWr?editors=0010 -->
    <h2>Puanınız:</h2>
    <div class="stars" data-rating="3">

        <input type="radio" class="star" name="rate" id="star1" value="1"/><label for="star1"></label>
        <input type="radio" class="star" name="rate" id="star2" value="2"/><label for="star2"></label>
        <input type="radio" class="star" name="rate" id="star3" value="3"/><label for="star3"></label>
        <input type="radio" class="star" name="rate" id="star4" value="4"/><label for="star4"></label>
        <input type="radio" class="star" name="rate" id="star5" value="5"/><label for="star5"></label>
    </div>



    <script>

        //initial setup
        document.addEventListener('DOMContentLoaded', function(){
            let stars = document.querySelectorAll('.star');
            stars.forEach(function(star){
                star.addEventListener('click', setRating);
            });

            let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
            let target = stars[rating - 1];
            target.dispatchEvent(new MouseEvent('click'));
        });

        function setRating(ev){
            let span = ev.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                }else{
                    star.classList.add('rated');
                }
                //are we currently looking at the span that was clicked
                if(star === span){
                    match = true;
                    num = index + 1;
                }
            });
            document.querySelector('.stars').setAttribute('data-rating', num);
        }

    </script>
                                                <div class="uren-btn-ps_right">
                                                    {% if user.id is not None %}
                                                    <button class="uren-btn-2">Yorum Yap</button>
                                                     {% else %}
                                                            Yorum yapmak için <a href="/login"> Login </a>olunuz!
                                                        {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Single Product Tab Area End Here -->










{% endblock %}