 {% load static %}

<!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (+90) 444 0 35</li>
                            <li><i class="fa fa-envelope"></i> ocokyilmaz@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="https://www.facebook.com/oguzhancokyilmaz"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.twitter.com/ocokyilmaz"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="https://www.instagram.com/oguzhancokyilmaz"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="bk-btn">Araç Kirala</a>
                            <div class="language-option">
                                <img src="{% static 'img/flag.png'%}" alt="">
                                <span>TR <i class="fa fa-angle-down"></i></span>
                                <div class="flag-dropdown">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="{% static 'img/logo.png'%}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="/">Anasayfa</a></li>
                                    <li><a href="/arabalar">Arabalar</a>
                                        <ul class="dropdown">
                                            <li><a href="#">EKONOMİK </a></li>
                                            <li><a href="#">ORTA SINIF</a></li>
                                            <li><a href="#">ÜST SINIF</a></li>
                                            <li><a href="#">SUV</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                                    <li><a href="/referanslar">Referanslar</a></li>

                                    <li><a href="/iletisim">İletişim</a></li>
                                    <!--<li><a href="./contact.html">Contact</a></li> -->
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
