<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}    Anasayfa Kısa Açıklama    {% endblock %}">
    <meta name="keywords" content="{% block keywords %}    Anasayfa anahtar kelimeler    {% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> {% block title %} Django Araba Kiralama Sitesi {% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    {% load static %}
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} " type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%} " type="text/css" />
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/flaticon.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/nice-select.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css"/>
    <!--bitti orjinal -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css'%}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css'%}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/fontawesome-stars.css'%}">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/ion-fonts.css'%}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css'%}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.css'%}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.min.css'%}">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/lightgallery.min.css'%}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css'%}">

     <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">


   {% block head %}    {% endblock %}
</head>


<body>
  {% include "header.html" %}
  {% block slider  %}    {% endblock %}
  {% block content  %}    {% endblock %}
  {% block body  %}    {% endblock %}
  {% include "footer.html" %}
  {% block footer  %}    {% endblock %}




</body>
</html>