 {% load static %}

<!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1 style="color: #b86e27">ARAÇ KİRALA</h1>
                        <p style="color: #b86e27">Arayın, Karşılaştırın ve Tasarruf Edin.Fiyat Eşitlemesi
                            , Çoğu rezervasyonda ücretsiz iptal.
                        </p>
                        <a href="#" class="primary-btn">KEŞFETMEYE BAŞLAYIN!</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Aracını Kirala</h3>
                        <form action="#">
                            <div class="check-date">
                                <label for="date-in">Teslim Alış Tarihi:</label>
                                <input type="text" class="date-input" id="date-in">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Teslim Ediş Tarihi:</label>
                                <input type="text" class="date-input" id="date-out">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Şube:</label>
                                <select id="guest">
                                    <option value="">İstanbul</option>
                                    <option value="">Ankara</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <label for="room">Araç:</label>
                                <select id="room">
                                    <option value="">Bmw</option>
                                    <option value="">Mercedes</option>
                                </select>
                            </div>
                            <button type="submit">Kontrol Et</button>
                        </form>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg={{setting.slider1.url}}></div>
            <div class="hs-item set-bg" data-setbg={{setting.slider2.url}}></div>
            <div class="hs-item set-bg" data-setbg={{setting.slider3.url}}></div>
        </div>
    </section>
    <!-- Hero Section End -->