{% extends "homebase.html" %}
 {% load static %}

{% block title %} Profil-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %} <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}


{% block content %}

<!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area" style="background-image: url({% static 'img/1.jpg'%});">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>HESABIM</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Hesabım</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <!-- Begin Uren's Page Content Area -->
        <main class="page-content">
            <!-- Begin Uren's Account Page Area -->
            <div class="account-page-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="account-dashboard-tab" data-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">HESABIM</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-orders-tab" data-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">ŞİPARİŞLER</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-address-tab" data-toggle="tab" href="#account-address" role="tab" aria-controls="account-address" aria-selected="false">YORUMLARIM</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-details-tab" data-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">HESAP AYARI</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-address-tab" data-toggle="tab" href="#account-password" role="tab" aria-controls="account-address" aria-selected="false">ŞİFRE İŞLEMLERİ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-logout-tab" href="login-register.html" role="tab" aria-selected="false">ÇIKIŞ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9">
                            <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                <li>
                                        <div class="author-avatar">
                                            <img style="height: 100px ; width: 100px ; margin-top: -30px" src="{{ user.userprofile.image.url }}" alt="User">
                                        </div><br>
                                        <div class="comment-body">
                                            <h5 class="comment-author">{{profile.user_name}}</h5>
                                                 {% if messages %}
                                       {% for message in messages %}
                                           <div class="alert alert-{{ message.tags }}" role="alert"> {{ message }} </div>
                                       {% endfor %}
                                    {% endif %}

                                            <p>Buradan profilinle ilgili tüm bilgilere ulaşabilir ve kontrol edebilirsin!</p>
                                        </div>
                                    </li>
                                 <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                                    <div class="myaccount-orders">
                                        <h4 class="small-title">SİPARİŞLERİM</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <tbody>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>TARİH</th>
                                                        <th>TOPLAM</th>
                                                        <th>DETAY</th>
                                                        <th>DURUM</th>
                                                    </tr>

                                                {% for rs in orders %}


                                                    <tr>
                                                        <td><a class="account-order-id" href="javascript:void(0)">{{ rs.id }}</a></td>
                                                        <td>{{ rs.create_at }}</td>
                                                        <td>{{ rs.total }}$</td>
                                                        <td><a href="/user/orderdetail/{{ rs.id }}"  class="uren-btn uren-btn_dark uren-btn_sm" >DETAY</a></td>
                                                        <td><a  class="uren-btn uren-btn_dark uren-btn_sm"><span>{{ rs.status }}</span></a>
                                                    </tr>

                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                                    <div class="myaccount-orders">
                                        <h4 class="small-title">YORUMLARIM</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <tbody>
                                                    <tr>

                                                        <th>ARAÇ</th>
                                                        <th>KONU</th>
                                                        <th>YORUM</th>
                                                        <th>RATE</th>
                                                        <th>STATUS</th>
                                                        <th>SİL</th>
                                                    </tr>

                                                {% for rs in comments %}


                                                    <tr>

                                                        <td><a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}"><strong>{{ rs.product.title }}</strong></a></td>
                                                        <td>{{ rs.subject }}</td>
                                                        <td>{{rs.comment}}</td>
                                                        <td>{{rs.rate}}<i class="icon_star"></i> </td>
                                                        <td><a  class="uren-btn uren-btn_dark uren-btn_sm"><span>{{ rs.status }}</span></a>
                                                    <td class="uren-product-remove"><a href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Yorum silinsin mi?')"><i class="fa fa-trash"
                                                title="Sil"></i></a></td>
                                                    </tr>

                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                                    <div class="myaccount-details">

                                            <div class="uren-form-inner">


                                                <div class="single-input">
                                                   <a href="/user/update"> <button class="uren-btn uren-btn_dark"  type="submit"><span>DEĞİŞTİR</span></button> </a>
                                                </div>

                                            </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-password" role="tabpanel" aria-labelledby="account-details-tab">
                                    <div class="myaccount-details">

                                            <div class="uren-form-inner">


                                                <div class="single-input">
                                                    <a href="/user/password">  <button class="uren-btn uren-btn_dark" type="submit"><span>ŞİFRE DEĞİŞTİR</span></button></a>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Uren's Account Page Area End Here -->
        </main>













{% endblock %}